@font-face {
   font-family: CelloSansExtraLight;
   src: url(./fonts/CelloSans-ExtraLight.ttf);
}

body {
   font-family: CelloSansExtraLight;
   margin: 0;
   color: #470000;
   background-color: #BBFF77;
   display: flex;
   flex-direction: column;
}

body.no-scroll {
   overflow:hidden;
}

.triangle {
   width: 0;
   height: 0;
   border: solid .4em;
   border-color: transparent #FD798C transparent transparent;
   transition: .5s;
}

.triangle.open {
   transform: rotate(-90deg) translate(-.15em, .2em);
}

header {
   background-color: #FEB2B8;
   display: flex;
   justify-content: space-between;
   width: 100%;
   box-sizing: border-box;
   position: fixed;
   padding: .4em;
   color: lightyellow;
   z-index: 1;
}

.logotype {
   letter-spacing: -.08em;
}

#navMenu a,
.logotype {
   text-decoration: none;
   color: inherit;
}

a {
   color: #FD798C
}

header .logotype {
   font-size: 2em;
   border-radius: 1em 0;
}

header .logotype,
header .right {
   color: rgb(71, 0, 0);
   background-color: #ffd7da;
   padding: 0 .5em;
}

header .right {
   display: flex;
   font-size: 1.5em;
   border-radius: 1em 0 0 1em;
}

.commissions header .right {
   padding: 0 .3em;
}

header .right button {
   background: transparent;
   border: none;
   display: flex;
   font-size: inherit;
   font-family: inherit;
   color: inherit;
   padding: 0;
   gap: .2em;
   align-items: center;
}

.commissions header .right button {
   font-size: .6em;
   letter-spacing: -.02em;
}

.commissions .triangle {
   font-size: 1.4em;
}

.portfolio header .right button {
   font-size: .8em;
}

.portfolio .triangle {
   font-size: 1.2em;
}

#navMenu ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   gap: .5em;
   align-items: flex-end;
}

#navMenu {
   position: absolute;
   right: .27em;
   top: 1.8em;
   display: flex;
   flex-direction: column;
   background-color: #ffd7da;
   padding: .5em .3em;
   z-index: 2;
   pointer-events: none;
   opacity: 0;
   transform: translateY(-1em);
   transition: .3s ease-in-out;
}

#navMenu.open {
   opacity: 1;
   transform: translateY(0);
   pointer-events: auto;
}

.outer-container {
   background: linear-gradient(to bottom right, #DEFF77, #BBFF77);
   padding: 1em;
   margin-top: 3em;
   display: flex;
   flex-direction: column;
   gap: .3em;

}

.inner-container {
   background-color: #fdfdbc;
   padding: 1em;
   border-radius: 1em 0;
   text-align: center;
}

.commissions .content {
   padding:.3em 0;
   display:flex;
   flex-direction: column;
   gap:.3em;
}

.commissions .content p {
   padding:1em;
}

.social .content {
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   gap:1em;
}

.social .content div { 
   display:flex;
   flex-direction:column;
   border:solid #BBFF77 .1em;
   border-radius:1em;
   padding:.5em;
   background-color:#fafaa6;
}

.social .content div:hover {
   background-color: #BBFF77;
}

.social .content div:active {
   background-color:#9bd85d;
}

.social .content a {
   text-decoration: none;
   color:#470000;
}

.social img {
   height:3em;
}

.social .outer-container {
   height:100;
}

.content hr {
   height:.05em;
}

.inner-container:has(#portfolioFilter) {
   padding: 0 0 1em 0;
   margin-top: .5em;
}

#portfolioContainer {
   display: flex;
   flex-direction: column-reverse;
   padding: 0 1em;
}

#portfolioFilter {
   background-color: #FEB2B8;
   border-radius: 1em 0 0;
   display: grid;
   grid-template: 1fr 1fr / 1fr 1fr 1fr;
   font-size: 1em;
   gap: .3em;
   padding: .3em;
}

#orderSortBtn {
   background-color: #ffd7da;
   color: inherit;
   font-family: inherit;
   border: none;
   border-radius: 1em;
}

.arrow-down,
.arrow-up {
   rotate: 90deg;
   display: inline-block;
   color: #FD798C;
}

.arrow-up {
   rotate: -90deg;
}

select {
   background-color: #ffd7da;
   border: none;
   font-family: inherit;
   color: inherit;
   width: 75%;
   justify-self: center;
}

#mainFilter {
   width: 100%;
}

option {
   background-color: #ffd7da;
   font-size: 2em;
}

optgroup option {
   font-size: 1em;
}

optgroup {
   font-size: 2em;
   padding: .5em 0;
   text-align: center;
}

.year-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1em;
}

.portfolio h2 {
   grid-column: 1 / 3;
}

.portfolio img {
   width: 100%;
}

.commissions img {
   width: 100%;
}

.comic-container {
   position: relative;
}

.comic-art-image {
   display: block;
}

.comic-icon-container {
   position: absolute;
   display: grid;
   grid-template: 1fr 1fr / 1fr 2fr 2fr 1fr;
   width: 100%;
   height: 100%;
   top: 0;
   padding: -.2em .2em 3em 3em;
   font-size: .7em;
}

.comic-icon-container:hover span {
   background-color: #FEB2B8;
}

@keyframes shrink-grow-loop {
   from {
      width: 90%;
   }

   to {
      width: 94%;
   }
}

.comic-icon-container:hover img {
   animation: shrink-grow-loop .8s alternate infinite ease-in-out;
}

.comic-icon-container span {
   grid-row: 2 / 3;
   grid-column: 2 / 4;
   align-self: self-end;
   margin-bottom: .5em;
   background-color: #fd798d;
   color: white;
   font-weight: bold;
   padding: .3em;
   border-radius: 1em;
   width: 100%;
}

.comic-icon-container img {
   width: 90%;
   grid-row: 1 / 2;
   grid-column: 3 / 5;
   margin-right: 2em;
   filter: invert();
}

.gallery-modal {
   position: fixed;
   top: 3.5em;
   left: 0;
   width: 100%;
   height:75%;
   display: none;
   background-color: rgba(0, 0, 0, 0.726);
   z-index: 2;
   padding: 3.5em 0 1em 0;
}

.close-modal-btn {
   position: absolute;
   right: .5em;
   top: .5em;
   margin: 0;
   border: none;
   border-radius: 1em 0;
   background-color: #BBFF77;
   font-size: 1.3em;
   font-weight: bold;
   padding: .5em;
}

.close-modal-btn:hover {
   background-color:#DEFF77;
}

.close-modal-btn:active {
   background-color:#9bd85d;
}

.modal-art-wrapper {
   width: 80%;
   margin-top: .5em;
}

.enter-left {
   animation:translate-left .2s;
}

.enter-right {
   animation:translate-right .2s;
}

.exit {
   animation-direction: reverse;
}

@keyframes translate-left {
   from {
      transform:translateX(-120%);
   }
   to {
      transform:translateX(0);
   }
}

@keyframes translate-right {
   from {
      transform:translateX(120%);
   }
   to {
      transform:translateX(0);
   }
}

.initial-modal {
   animation:initial-modal-scroll-peak 3.2s 1;
   animation-delay:.8s;
}

@keyframes initial-modal-scroll-peak {
   0%{
      transform:translateX(0);
   }
   10%{
      transform:translateX(0);
   }
   30% {
      transform:translateX(-1em);
   }
   50% {
      transform:translateX(0);
   }
   60% {
      transform:translateX(0);
   }
   80% {
      transform:translateX(1em);
   }
   100% {
      transform:translateX(0);
   }
}

.modal-art-wrapper.comic-modal {
   overflow:hidden;
   width:auto;
   height:75%;
}

.portfolio .slides {
   width:auto;
   display:flex;
   flex-direction:column;
   transition:.5s;
   animation:comic-scroll-peak .8s alternate 4;
   animation-delay:.8s;
}

@keyframes comic-scroll-peak {
   0%{
      transform:translateY(0);
   }
   40%{
      transform:translateY(0);
   }
   100% {
      transform:translateY(-1em);
   }
}

.portfolio .slides img {
   position:relative;
}

.scroll-indicator {
   background-color: #ffd7dae7;
   display:none;
   position: absolute;
   z-index:3;
   left: 25%;
   top:40%;
   border-radius: 1em;
   width: 50%;
   font-size: .8em;
   animation:.7s fade-in-out 4 alternate forwards;
}

@keyframes fade-in-out {
   from {
      opacity:0%;
   }
   to {
      opacity:100%;
   }
}

.modal-content {
   width: 100%;
   height:100%;
   display: flex;
   position:relative;
   flex-direction: column;
   align-items: center;
   gap: 1em;
}

.modal-content .bottom {
   display: flex;
   width: 80%;
   gap: 1em;
}

.previous-art-btn,
.next-art-btn {
   background-color: #FD798C;
   border: none;
   border-radius: 50% .3em;
   width: 2.5em;
   font-size:1em;
}

.previous-art-btn:hover,
.next-art-btn:hover {
   background-color: #ffd7da;
}

.previous-art-btn:active,
.next-art-btn:active {
   background-color:#c4606f;
}

.cycle-back-btn {
   background-color: #BBFF77;
   font-size:1.5em;
}

.cycle-back-btn:hover {
   background-color:#DEFF77;
}

.cycle-back-btn:active {
   background-color:#9bd85d;
}

.modal-art-info {
   background-color: #DEFF77;
   border-radius: 1em 0;
   margin: auto;
   width: 100%;
   font-size: .7em;
   padding: .3em 0;
}

#dateCreated,
#seriesName {
   font-weight: bold;
}

#slideshow {
   width: 100%;
   border: solid #FEB2B8 .01em;
   overflow: hidden;
   position: relative;
   z-index: 0;
   margin-bottom: 1em;
}

.slides {
   width: 400%;
   display: flex;
   cursor: grab;
}

.slides input {
   display: none;
}

.slide {
   width: 25%;
   transition: 2s;
   display: flex;
}

.slide img {
   width: 100%;
}

.navigation-manual,
.navigation-auto {
   width: 100%;
   position: absolute;
   display: flex;
   align-self: flex-end;
   justify-content: center;
   margin-bottom: .5em;
   gap: .3em;
}

.manual-btn,
.navigation-auto div {
   border: .1em solid #FD798C;
   padding: .3em;
   border-radius: 10px;
   transition: 1s;
}

.manual-btn {
   cursor: pointer;
}

#radio1:checked~.first {
   margin-left: 0;
}

#radio2:checked~.first {
   margin-left: -25%;
}

#radio3:checked~.first {
   margin-left: -50%;
}

#radio1:checked~.navigation-auto .auto-btn1 {
   background-color: #FD798C;
}

#radio2:checked~.navigation-auto .auto-btn2 {
   background-color: #FD798C;
}

#radio3:checked~.navigation-auto .auto-btn3 {
   background-color: #FD798C;
}

h1,
h2 {
   font-weight: normal;
   margin: 0 auto;
}

h1 {
   font-size: 2.8em;
}

.commissions h1 {
   font-size: 2.6em;
}

h2 {
   margin-top: .5em;
}

hr {
   background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #470000));
   height: 0.1em;
   border: none;
   margin: 0 0 1em 0;
}

p {
   margin: auto;
   text-wrap: wrap;
}

.about-artist {
   display: flex;
   flex-direction: column;
   gap: 1em;
   margin-top: 1em;
}

.about-artist hr {
   margin: -.8em 0 0 0;
   height: .05em;
}