body {
    font-family:'CelloSansLight';
    margin:0;
    color:rgb(71, 0, 0);
    background-color: #BBFF77;
    display:flex;
    flex-direction:column;
}

.triangle {
    width:0;
    height:0;
    border:solid  .4em;
    border-color:transparent #FD798C transparent transparent;
}

header {
    background-color:#FEB2B8;
    display:flex;
    justify-content: space-between;
    width:100%;
    box-sizing: border-box;
    position:fixed;
    padding:.4em;
    color:lightyellow;
}

.logotype {
    letter-spacing: -.08em;
}

header .logotype {
    font-size:2em;
    border-radius:1em 0;
}

header .logotype,
header .right {
    color: rgb(71, 0, 0);
    background-color:#ffd7da;
    padding:0 .5em;
}

header .right {
    display:flex;
    align-items:center;
    gap:.2em;
    font-size:1.5em;
    border-radius:1em 0 0 1em;
}

.outer-container {
    background-color:#DEFF77;
    padding:1em;
    margin-top:3em;
    display:flex;
    flex-direction:column;
    gap:.3em;
}

.inner-container {
    background-color:#fdfdbc;
    padding:1em;
    border-radius:1em 0;
    text-align:center;
    display:flex;
}

img {
    width:100%;
    border:solid #FEB2B8 .01em;
    padding:.1em;
}

h1 {
    font-weight:normal;
    font-size:2.8em;
    margin:0 auto;
}

p {
    margin:auto;
}